@font-face {
    font-family: "Typewriter";
    src: url("Old-Soviet.otf");
}


body {
    font-family: "Typewriter", serif;
    background-color: black;
    margin: 0;
    text-align: center;
}

p {
    color: white;
}

#main {
    color: white;
    font-size: 20px;
    text-align: center;
}